In [1]:
import numpy as np
import pandas as pd
from scipy.stats import norm

In [2]:
url="https://raw.githubusercontent.com/zhukpm/da_spring2020/master/data/lw2/projects/1032172712/data.csv"
data = pd.read_csv(url)

In [3]:
data.head()

   full_sq  life_sq  material  num_room
0       49       22         1         2
1       32       18         1         1
2       79       54         2         3
3       82       56         1         3
4       64       36         2         2

## Пункт 1

In [4]:
R = data['life_sq'].sum() / data['full_sq'].sum()
R

0.6543145485397874

## Пункт 2

In [5]:
n = data.shape[0]
N = 60505
f = n / N
y = data['life_sq'].values
x = data['full_sq'].values
koef = np.sqrt(1-f) / np.sqrt(n) / np.mean(x)
s = 0
for i in range(n):
    s += (y[i] - R * x[i]) ** 2
s /= n - 1
s = np.sqrt(s)
std_error_r = koef * s
std_error_r

0.002423318749008258

## Пункт 3

In [6]:
data.head()

   full_sq  life_sq  material  num_room
0       49       22         1         2
1       32       18         1         1
2       79       54         2         3
3       82       56         1         3
4       64       36         2         2

In [7]:
p = data[data['num_room'] == 4].shape[0] / data.shape[0]
q = 1 - p
p

0.025431770734484722

## Пункт 4

In [8]:
perc = 0.875
t = norm.ppf((1 + perc) / 2)
right = p + t * np.sqrt(1 - f) * np.sqrt(p * q / (n - 1)) + 1 / (2 * n)
left = p - t * np.sqrt(1 - f) * np.sqrt(p * q / (n - 1)) - 1 / (2 * n)
left, right

(0.022157466292440878, 0.028706075176528567)

In [9]:
d = {'R' : [R], 's_R' : [std_error_r], 'p': [p], 'left': [left], 'right': [right]}
df = pd.DataFrame(data=d)
df.to_csv('answer.csv', index=False)